body {
    font-family: 'Open Sans' !important;
    font-size: 15px !important;
    color: #444444 !important;
    font-weight: 300 !important;
}

.content {
    display: block;
    height: 172px;
    background-color: #474c5c !important;
    padding: 20px;
    color: #fff;
}

.text {
    display: inline-block;
}

.index {
    z-index: 100 !important;
}

.index1 {
    position: relative;
    top: -80px;
    z-index: -100;
}

.back {
    background-color: lightgray;
    height: 250px;
}

.back .col-md-12 {
    margin-top: 90px;
}

.back .col-md-12 h2 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

.back .col-md-12 p {
    font-family: 'Times New Roman', Times, serif;
}

i {
    color: #d68e25;
}

.well {
    margin: 0 auto;
}

.para {
    margin-bottom: 20px;
}

.para h1 {
    text-transform: uppercase;
    font-weight: bold;
}

.para h2 {
    font-weight: bold;
    color: #d68e25;
}

.para h4 {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 16px;
}

.para .col-md-8 {
    border: 1px solid lightgray;
    padding: 20px;
    border-radius: 30px 0px 30px 0px;
}

.para1 .col-md-4 {
    padding: 60px;
}

.services {
    background-image: url(../img/IMG-20180919-WA0071.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 50px 0;
}

.services h4 {
    font-weight: bold;
}

.services .row {
    border: 1px solid #444444;
    padding: 50px 20px;
    color: black;
    border-radius: 30px 0px 30px 0px;
}

.about {
    margin-top: 60px;
}

.about h1 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}

.about p {
    font-size: 15px;
    line-height: 25px;
    text-align: justify;
}

footer {
    background-color: #474c5c;
    display: block;
    padding-top: 20px;
    padding-bottom: 8px;
}

footer p {
    color: #fff;
}

.brands {
    width: 100%;
    padding-top: 90px;
    padding-bottom: 90px
}

.brands_slider_container {
    height: 130px;
    border: solid 1px #e8e8e8;
    border-radius: 30px 0px 30px 0px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
}

.brands_slider {
    height: 100%;
    margin-top: 3%;
}

.brands_item {
    height: 100%
}

.brands_item img {
    max-width: 100%
}

.brands_nav {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 5px;
    cursor: pointer
}

.brands_nav i {
    color: #e5e5e5;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease
}

.brands_nav:hover i {
    color: #676767
}

.brands_prev {
    left: 40px
}

.brands_next {
    right: 40px
}

.owl-item img {
    height: 70px;
}

.md {
    background-color: #051f57;
    color: #fff;
}